html {
    font-family: sans-serif;

}

.max-cont{
    width: 1100px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.div01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 100px;
    gap: 100px;
}

.header {
    display: flex;
    justify-content:space-between;
    color: #e5e7eb;
    padding: 16px 0;
    font-size: 24px;
    margin-top: 8px;
    
}

.header-logo {
    font-weight: bold;
    color: #f9faf8;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 24px;
    font-size: 18px;
    list-style: none;

}

img {
    background-color:white;
    width: 550px;
    height: 275px;
    object-fit: cover;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-flow: column;
    width: 450px;
    gap: 8px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 250px;
}

.hero-container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom:-8px;
}

.hero-container p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.hero-container button {
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: #e5e7eb;
    font-weight: bold;
}

.info {
    text-align: center;
    align-self: center;
    padding: 50px;
}

.info h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin:50px 0;
}

.info img {
    width: 150px;
    height: 150px;
    border-radius: 16px;
    border: 4px solid #3882f6;
}

.rand-cont {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.rand-info{
    max-width: 150px;
}

.rand-info p {
    margin-top: 10px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    width: 825px;
    
    
}
.quote {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    padding: 150px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    margin: 0;
}

.thor {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
    margin: 0;
    text-align: end;
}




